{# resig microtemplating = http://ejohn.org/blog/javascript-micro-templating/ #}
<li data-jsforms-item-id="<%= id %>">
    THIS IS TEXT IN THE OVERRIDE TEMPLATE
    <a class="jsforms-remove" href="#">x</a>
    <%= label %>
</li>
